<form [formGroup]="productoForm" class="form-agregar" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="nombre">Nombre:</label>
    <input id="nombre" formControlName="nombre">
  </div>

  <div class="form-group">
    <label for="descripcion">Descripción:</label>
    <input id="descripcion" formControlName="descripcion">
  </div>

  <div class="form-group">
    <label for="genero">Género:</label>
    <select id="genero" formControlName="genero">
      <option *ngFor="let genero of generos" [value]="genero.genero">{{ genero.genero }}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="precio">Precio:</label>
    <input id="precio" type="number" formControlName="precio">
  </div>

  <div class="form-group">
    <label for="precio">Clasificacion:</label>
    <input id="clasificacion" type="number" formControlName="clasificacion">
  </div>

  <div class="form-group">
    <label for="imagen">Imagen:</label>
    <input id="imagen" formControlName="imagen">
  </div>

  <div class="form-group">
    <label for="imagenHorizontal">Imagen Horizontal:</label>
    <input id="imagenHorizontal" formControlName="imagenHorizontal">
  </div>

  <button type="submit" [disabled]="productoForm.invalid">Agregar Producto</button>
</form>
