<form *ngIf="!emailSended && !passwordChanged, else elseTemplate" [formGroup]="recoverForm"
  class="form-signin my-2 mx-auto">
  <img class="my-4 d-block mx-auto" src="assets/images/logo.png" width="80" height="80">
  <h3 class="mb-3">Recuperar Contraseña</h3>
  <div class="form-group">
    <label for="inputEmail">Email</label>
    <input formControlName="email" type="email" id="inputEmail" class="form-control" placeholder="Email" required=""
      autofocus="">
  </div>
  <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
    <div *ngIf="email.errors?.['required']">Ingrese el email.</div>
    <div *ngIf="email.errors?.['email']">El email ingresado es inválido.</div>
  </div>
  <button (click)="recover()" class="btn btn-lg btn-primary btn-block w-100 mt-4" type="submit">Continuar</button>
  <div *ngIf="formError" class="text-danger">
    {{formError}}
  </div>
  <div *ngIf="recoverError" class="text-danger">
    {{recoverError}}
  </div>
</form>
<ng-template #elseTemplate>
  <form [formGroup]="confirmRecoverForm" class="my-2 mx-auto">
    <img class="my-4 d-block mx-auto" src="assets/images/logo.png" width="80" height="80">
    <h3 class="mb-3">Ingrese el código que le ha llegado a su casilla de correo</h3>
    <div class="form-group">
      <label for="code">Código</label>
      <input formControlName="code" type="text" id="code" name="code" class="form-control" />
    </div>
    <div *ngIf="code.invalid && (code.dirty || code.touched)" class="text-danger">
      <div *ngIf="code.errors?.['pattern']">El código debe ser numérico y de 6 caracteres.</div>
      <div *ngIf="code.errors?.['required']">Ingrese el código.</div>
    </div>
    <div class="form-group">
      <label for="password">Contraseña Nueva</label>
      <input formControlName="password" type="password" id="password" name="password" class="form-control" />
    </div>
    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
      <div *ngIf="password.errors?.['required']">Ingrese la contraseña.</div>
      <div *ngIf="password.errors?.['minlength']">La contraseña debe poseer al menos 6 caracteres.</div>
    </div>
    <div class="form-group">
      <label for="repeatedPassword">Repetir Contraseña Nueva</label>
      <input formControlName="repeatedPassword" type="password" id="repeatedPassword" name="repeatedPassword"
        class="form-control" />
    </div>
    <div *ngIf="repeatedPassword.invalid && (repeatedPassword.dirty || repeatedPassword.touched)" class="text-danger">
      <div *ngIf="repeatedPassword.errors?.['required']">Vuelva a ingresar la contraseña.</div>
      <div *ngIf="repeatedPassword.errors?.['PasswordNoMatch']">Las contraseñas deben ser iguales.</div>
    </div>
    <button (click)="confirm()" class="btn btn-lg btn-primary btn-block w-100 mt-4" type="submit">Confirmar</button>
    <div *ngIf="formError" class="text-danger">
      {{formError}}
    </div>
    <div *ngIf="confirmRecoverError" class="text-danger">
      {{confirmRecoverError}}
    </div>
    <div *ngIf="emailSended" class="text-success">
      {{emailSended}}
    </div>
    <div *ngIf="passwordChanged" class="text-success">
      {{passwordChanged}}
    </div>
  </form>
</ng-template>